{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Change User {% endblock %}


{% block content %}
<div class="list-group col-md-5">
    <h4> Edit CustomUser </h4>
    <form method="post" enctype="multipart/form-data">
        {{ form.title.errors }}
        {{ form.title }}
        {% csrf_token %}
        <!--        <div class="form-group">-->
        <!--            <label for="form.last_name.id_for_label">First Name:</label>-->
        <!--            {{form.last_name}}-->
        <!--&lt;!&ndash;            <input type="text" class="form-control"  placeholder="first_name" value="{{user.first_name}}">&ndash;&gt;-->
        <!--        </div>-->




        {% for item in form %}
        <div class="form-group">
            {{ item.label_tag }}
            {{ item }}
        </div>
        {% endfor %}
        <br/>

        <button type='submit' class="btn btn-outline-primary"> Change</button>
    </form>


</div>

{% endblock %}