{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Login : {{ block.super }}{% endblock %}


{% block sidebar %}

{% endblock %}


{% block content %}
<div class="list-group col-md-4">

    <h4> login page </h4>
    <form method="post">
        {% csrf_token %}
        <!--        <input type="text" name="email" , placeholder="email">-->
        <input class="form-control" type="text" name="username" placeholder="user_name">
        <br>
        <input class="form-control" type="password" name="password" placeholder="password">

        <button type='submit' class="btn btn-outline-primary"> login</button>
    </form>
</div>
{% endblock %}
