{% extends 'base.html' %}

{% block title %} Authors {% endblock %}
{% block sidebar  %}
<p>DFS</p>
{% endblock %}


{% block content %}
<h4>all Authors table:</h4>
<div class="col-md-10">
    <table class="table table-secondary table-striped">
        <thead class="border-bottom font-weight-bold">
        <tr>
            <th scope="col" style="width: 20px">id</th>
            <th scope="col" style="width: 110px">Name</th>
            <th scope="col" style="width: 110px">Surname</th>
            <th scope="col" style="width: 110px">patronymic</th>
            <th scope="col" style="width: 110px">books</th>

            {% comment %} надаємо доступ тільки бібліотекару {% endcomment %}
            {% if request.user.role %}
                <th scope="col" style="width: 50px">Delete</th>
                <th scope="col" style="width: 50px">Change</th>
            {% endif %}

        </tr>
        </thead>
        {% for a in author %}
        <tr>
            <td>{{a.id}}</td>
            <td>{{a.name}}</td>
            <td>{{a.surname}}</td>
            <td>{{a.patronymic}}</td>
            <td>{{a.books}}</td>

            {% comment %} надаємо доступ тільки бібліотекару {% endcomment %}
            {% if request.user.role %}
                <td><a href="{% url 'author_delete_url' a.pk %}" class="btn btn-danger">
                    delete</a></td>
                <td><a href="{% url 'change_author_url' a.pk %}" class="btn btn-info">
                    change</a></td>
            {% endif %}

        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'add_author' %} ">
        <button type='submit' class="btn btn-outline-success"> Create new Author</button>
    </a>

</div>

{% endblock %}

